.alert{
    margin-top: 1.275em; 
}

.book-summary ul.summary li.header {
    padding: 10px 15px;
        padding-top: 10px;
    padding-top: 20px;
    color: #222;
    font-weight: bold;
}
.book-summary ul.summary li {
    list-style: none;
    padding-left: 16px;
}

.markdown-section li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
    margin-bottom: 12px;
}